@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background: dodgerblue;
    /* linear-gradient(90deg, dodgerblue,gold); */
}
/* Navbar styling */
#site-title{
    color:gold;
}

#search-bar{
    margin-right: 10rem;
} 
#search{
    width:45rem;
}
/* Navbar end */